@import 'styles/constants.scss';

.search-box {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: white;
  padding: 16px;
  position: absolute;
  top: 32px;
  left: 32px;

  > *:not(:last-child) {
    margin-bottom: $margin-md;
  }
}
