@import 'styles/constants.scss';

.job-form {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-md;
  background: white;
  padding: $size-lg;
  position: absolute;
  top: $size-xl;
  left: $size-xl;
  max-width: 300px;
  width: 100%;

  > *:not(:last-child) {
    margin-bottom: $size-md;
    width: 100%;
  }
}

@media screen and (max-width: $screen-sm) {
  .job-form {
    top: $size-md;
    left: $size-md;
    right: $size-md;
    max-width: inherit;
    width: auto;
  }
}
